{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Title</title>
</head>
<body>


<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="{% url 'register' %}">Register</a>
  <a href="{% url 'login' %}">Login</a>

</div>


<div class="image">
<img src="https://cdni.iconscout.com/illustration/premium/thumb/todo-list-2839461-2371075.png" alt="image" width="100px" height="500px" class="center">

</div>
    <h1 align="middle" style="font-family: 'Pacifico', cursive;">Manage your Task</h1>
<p align="middle"style="font-family: 'Source Serif Pro', serif;">Organize all your to-do's in lists and projects!!!</p>
<br>
<br>
<br>
<br>
<br>



<div class="footer">

    <h5 style="color:white">@2023 Copyright:Todo.com</h5>

</div>


</body>